// Footer
.astFooterWrapper {
    float: left;
    width: 100%;
    background-color: #222222;
    bottom: 0;
    z-index: -1;
    padding-bottom: 20px;
    padding-top: 70px;
    .astFooterInfo {
    float:left;
	width:100%;
	text-align:center;
    margin-bottom: 50px;
    .footerImg {
        display: inline-block;
        margin-bottom: 15px;
    }
    .astFooterPara {
    float: left;
    width: 100%;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 14px;
    }
    .asFooterList {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
        .asFooterIconList{
            display: inline-block;
            width: auto;
            list-style: none;
            .asFooterIconLink {
                float: left;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 100%;
    text-align: center;
    background-color: #777777;
    margin: 5px;
    color: #ffffff;
    &:hover {
        background-color: #ffad29;
    transition: all 0.5s;
    }
            }
        }
    }
    }
    .widget {
        float: left;
    width: 100%;
    margin-bottom: 70px;
    .widgetTitle {
        float: left;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 25px;
        font-size: 20px;
        color: #ffffff;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 15px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 70px;
            background-color: #ffad29;
            height: 2px;
        } 
    }
    .astNewsLetter {
        float: left;
        width: 100%;
        .widgetPara {
            float: left;
    width: 100%;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 14px;
        }
        .astNewsletterBox {
            float: left;
            width: 100%;
            .input {
                float: left;
    width: calc(100% - 65px);
    height: 45px;
    padding: 0px 15px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 3px 0px 0px 3px;
    background-color: transparent;
    transition: all 0.5s;
            }
        }
    }
    .serviceLinks {
        float: left;
        width: 100%;
        .serviceList {
            float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    .serviceNavLinks {
        float: left;
    width: 100%;
    list-style: none;
    .serviceActionLink {
        float: left;
        width: 100%;
        color: #ffffff;
        text-transform: capitalize;
        padding: 5px 0px 7px 0px;
        border-bottom: 1px solid #444444;
        font-size: 14px;
    }
    .Homeicon {
        float: left;
        width: 30px;
        color: #ffad29;
        font-size: 20px;
        padding-top: 3px;;
    }
    .getInTouchText {
        float: right;
    width: calc(100% - 30px);
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 14px;
    }
    }
        }
    }
    }
}