// @import 'variables.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica,
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

//Header CSS Start //
.ast_menu ul {
  float: right;
  width: auto;
  margin: 0;
  padding: 0;
}
.ast_menu ul li {
  list-style: none;
  float: left;
  margin-right: 0px;
  position: relative;
  transition: all 0.5s;
}
.ast_menu ul li a {
  display: block;
  text-transform: capitalize;
  color: #ffffff;
  padding: 38px 15px 38px 15px;
  position: relative;
  z-index: 1;
}
.ast_menu ul li a:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #ffad29;
}

//Header Css End//

.page_title h1 {
  float: left;
  width: 100%;
  color: #ffffff;
  margin: 0px;
  font-size: 36px;
  text-transform: capitalize;
}